<% if @rv.blank? %>
  No requests
<% else %>
  <h2>Request List</h2>
  <table>
    <thead>
      <tr>
        <th>Requested by</th>
        <th>Profession</th>
        <th>Requested at</th>
      </tr>
    </thead>

    <tbody>
      <% @rv.each do |permission| %>
        <tr>
          <td><%= permission.requestee %></td>
          <td><%= permission.requestee_type %></td>
          <td><%= permission.created_at %></td>
          <td><%= button_to 'Permit', permit_patient_path(permission) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
<% end %>

<%= link_to 'Back', patient_path(@patient) %>