<%= form_for([@patient, @prescription_medication]) do |f| %>
  <% if @prescription_medication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prescription_medication.errors.count, "error") %> prohibited this prescription_medication from being saved:</h2>

      <ul>
      <% @prescription_medication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :medication %><br>
    <%= f.text_area :medication %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
